@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1vw;
}

h1 {
    background: linear-gradient(-90deg, #0f4c75, #3282b8);
    color: #bbe1fa;
    padding: 1.5rem;
    font-size: 3rem;
    text-align: center;
}

nav {
    background-color: black;
    padding: 1rem 0;
}

nav a{
    font-size: 1.2rem;
    height: 100%;
    color: white;
    padding: 1rem;
}

nav a:hover{
    color: white;
    background-color: hsl(0, 0%, 30%);
}

h3 {
    font-size: 2.5rem;
    padding: 1rem;
    background: linear-gradient(0deg, black, hsl(0, 0%, 40%));
    color: white;
}

.table-container {
    display: grid;
    justify-items: center;
}

div.table {
    width: 90%;
    margin: 3rem;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 5px 10px 0.1rem hsl(0, 0%, 50%);
}

table {
    width: 100%;
}

table, th, td {
    border-bottom: solid;
    border-collapse: collapse;
    background: linear-gradient(0deg, hsl(0, 0%, 100%), hsl(0, 0%, 90%));
    padding: 1rem;
    font-size: 1.4rem;
}

th {
    font-size: 1.5rem;
}

footer{
    margin: 2rem;
    font-size: 1.5rem;
}

footer ul{
    margin-left: 2rem;
}

li{
    margin: 0.5rem;
    font-weight: bold;
}

a{
    text-decoration: none;
}

a:hover {
    color: green;
}

@media all and (max-width: 768px){
    html {
        font-size: 2.5vw;
        font-family: 'Comic Neue', cursive;
    }

    footer{
        margin-bottom: 10rem;
        font-size: 1.8rem;
    }

    li{
        margin: 1rem 0;
    }
}